/* removes a bunch of stuff */
[class^="message-"] div[aria-label*="super" i]:has([class^="icon-"]),
[class^="reactButtons-"] > div[aria-label*="super" i],
[class^="reactionInner-"] [class^="effectsWrapper-"],
[class^="burstReactionTooltipPrompt-"],
[class^="burstEmojiSection-"],
[class*="colorPremiumGradient-"],
button[id="super-reaction-picker-tab"],
[class^="burstGlow-"] {
  display: none;
}
/* makes super reactions not disappear on hover */
[class*="hideEmoji-"] {
  opacity: 1;
}
/* removes stuff from emoji hover popup */
[class*="burstReactionTooltipSpacer-"] {
  border: none !important;
  padding: 0px;
  margin: 0px;
}
/* makes background color the same as normal reactions in "show reactions" tab*/
[class^="reactionSelected-"] {
  background: var(--background-tertiary) !important;
}
/* disables clicking */
[class^="reactionInner-"]:is([aria-label*=" super " i]) {
  pointer-events: none;
}
/* removes shake animation */
[class*="shakeReaction-"] {
  animation: none !important;
}
div[aria-label='Add Super Reaction'] { display: none }



/* Get rid of super reacts */
[aria-label^="Add Super Reaction"],
#message-add-reaction-1,
#super-reaction-picker-tab,
[class^="burstEmojiSection-"],
[aria-label^="Reaction Picker Categories"],
[class^="reactionDefault-"][aria-label*="super reaction"],
[class^="reactionSelected-"][aria-label*="super reaction"],
[class^="reactions-"] > div > [style*="background:"] {
  display: none !important;
}
